* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100vh;
}

body {
    background: black;
    color: white;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url('images/cover-bg.jpeg');
    background-size: cover;
    background-position: center center;
}

#home-btn {
    width: 5em;
    height: 5em;
    margin: 2em 5em;
    color: black;
}

#home-btn:hover {
    color: #FFD700;
    transition: 0.5s;
}

.logo {
    color: #FFD700;
    font-size: 2.4rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3.5em;
    font-family: 'Cinzel Decorative', serif;
    font-weight: 800;
    text-shadow: 2px 2px 3px black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
}

nav .fa-solid {
    display: none;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    font-family: 'Cinzel Decorative', serif;
}


nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #FFD700;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 22%;
    margin-left: 23%;
    font-size: 2.2rem;
    font-weight: 900;
    color: #FFD700;
    font-family: 'Cinzel Decorative', serif;
    text-shadow: 7px 10px 7px black;
}

/* ABOUT SECTION */

#about {
    padding: 80px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}


.about-col-1 > img {
    width: 100%;
    border-radius: 15px;
    margin-left: 20%;
}

.about-col-2 {
    flex-basis: 50%;
}

.sub-title {
    font-family: 'Cinzel Decorative', serif;
    color: #FFD700;
    font-size: 3.7rem;
    text-align: center;
}

.highlight {
    color: #FFD700;
}

.about-col-2 > p {
    font-size: 1.2rem;
    line-height: 2em;
    font-weight: 800;
}

/* PORTFOLIO STARTS */

.gallery-container {
    width: 100%;
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img {
    width: 100%;
    transition: 1s;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* CONTACT FORM */

.contact-form {
    width: 100%;
    height: 100svh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h1 {
    margin-bottom: 20px;
}

form input, 
form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: #FFD700;
    color: black;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

form button:hover {
    transition: 0.5s;
    background: #4fd04f;
    color: white;
}

/* FOOTER */

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
    background-color: black;
    color: black;
}

.social {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.social a {
   text-decoration: none;
   padding: 1rem;
   background-color: white;
   border-radius: 50%;
}

.social a i {
   font-size: 3em;
   color: black;
   opacity: 0.9;
}

.social a:hover {
    background-color: black;
    transition: 0.5s
}

.social a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
    color: white;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul li a{
    color: white;
    margin: 10px;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
    text-decoration: none;
}

.footerNav ul li a:hover {
    opacity: 1;
    color: #FFD700;
}

.footerBottom {
    background-color: #000;
    padding: 25px 10px;
    text-align: center;
    color: white;
}

.footer-text a {
    text-decoration: none;
    color: white;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.designer:hover {
    transition: 0.5s;
    color: #FFD700;
    font-weight: 700;

}

/* FOOTER ENDS */

/* CSS FOR SMALLER SCREEN SIZES */

@media only screen and (max-width: 600px) {
    #header {
        height: 100vh;
        width: 100vw;
        background-image: url(images/sm-bg.jpeg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    nav .fa-solid  {
        display: block;
        font-size: 35px;
        color: white;
    }

    nav ul {
        background: #FFD700;
        position: fixed;
        top: 0;
        right: -200px;
        width: 175px;
        height: 100%;
        padding-top: 70px;
        transition: 0.5s;
    }

    nav .fa-bars {
        float: right;
    }

    .logo {
        font-size: 1rem;
        font-weight: 800;
    }

    nav {
        background-color: black;
    }

    nav ul li {
        display: block;
        top: 25px;
        left: 20px;
        cursor: pointer;
        margin-bottom: 40px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color: black;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-2 {
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }

    .about-col-1 img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .about-col-1 {
        margin-bottom: 30px;
    }

    .about-col-2 {
        font-size: 5px;
    }

    .footerNav ul li a{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 503px) {
    .logo {
        margin-left: 50px;
    }
}

@media only screen and (max-width: 395px) {
    .footerNav ul li a{
        font-size: 1rem;
    }

    nav .logo {
        margin-left: 30px;
    }
}
